.expense {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(118, 76, 76);
  margin: 0.5rem 1rem;
  border: 2px solid rgb(130, 81, 81);
  border-radius: 10px;
  width: 100%;
  height: 100px;
}


